body{
    background-image: url("guessGameWallpaper.jpg");
    background-repeat: no-repeat;

}
.submitButton{
    color:mediumpurple;;
    background-color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.instructions{
    color: white;
}
.inputCardOne{
    margin-top: 50px;
    height: 300px;
    font-size: 250px;
    width: 180px;
    color: BLACK;
}
.inputCardTwo{
    margin-top: 50px;
    height: 300px;
    font-size: 250px;
    width: 180px;
    color: black;
}
.inputCardThree{
    margin-top: 50px;
    height: 300px;
    font-size: 250px;
    width: 180px;
    color: black;
}
.bottomInfo{
    background-color: black;
    width: 250px;
    border-radius: 25px;
    font-size: 12px;
}